/* Reset */
@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.center{
    margin: 0 auto;
    max-width: 1240px;
    width: 100%;
}
.fundo{
    background: rgba(7, 7, 7, 0.527) url(madeira.jpg);
    background-blend-mode: darken;
}

/*Fim Reset */


/* Header */
header .center{
    display: flex;
    justify-content: space-between;
}

header{
    border: 1px solid black;
    padding: 10px 2%;
    background-color:rgba(230, 120, 10, 0.479);
}


.logo{
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 30%;
}

nav.desktop ul{
    list-style-type: none;
}

nav.desktop ul li{
    display: inline-block;
    padding: 10px 10px;
}


nav.desktop ul li a{
    text-decoration: none;
    color: white;
}

nav.desktop ul li a:hover{
    color: #ccc;
}

nav.mobile{
    display: none;
    width: 50px;
    height: 50px;
    background-image: url("../img/cardapio.png");
    background-position: center;
    background-size: 100% 100%;
    cursor: pointer;
}

nav.mobile ul{
    position: absolute;
    width: 100%;
    top: 72px;
    left: 0;
    text-align: center;
    display: none;
}

nav.mobile ul li{
    border-bottom:1px solid #ccc;
}

nav.mobile ul li a{
    text-align: center;
    text-decoration: none;
    color: black;
    width: 100%;
    display: block;
    padding: 10px 0;
}

nav.mobile ul li a:hover{
    background-color: #ccc;
    transition: 1s;
}

/* Fim header */

/* inicio do main*/
.titulo{
    color:white;
    font-size: 800%;
    margin-left: 10%;
    margin-top: 5%; 
       
}
.titulo1{
    color:white;
    font-size: 250%;
    margin-top: 14%; 
    margin-left: -14%;
   
}
.tituloprincipal{  
    display: flex;
    
} 

.img{
    width: 40%;
    margin-left: 20%;
    margin-top:3%;
    text-align: right; 
    

}
.subtitulo{
    color: white;
    font-size: 180%;
    color: darkgoldenrod;
    font-family: 'Times New Roman', Times, serif;
    text-align:left;
    justify-content: center;
    margin-left: 10%;
    margin-top: -18%;
}
.botão{
   margin-left: 10%; 
   margin-top: 3%;
   width: 190px;
   height: 40px;
   border-radius: 10px;
   cursor: pointer;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 100%;  
}
.botão:hover{
    background-color: rgba(255, 153, 0, 0.137);
}
.linkbotão{
    text-decoration: none;
    color: black;
    font-family: Times, serif;
    font-weight: bold;

}



/* Media querie usada para fazer o menu Hamburguer */
@media screen and (max-width: 768px){
    nav.mobile{
        display: block;
    }

    nav.desktop{
        display: none;
    }

    
}
/* ////////////////////////////////////////////////// */

